.products{
    margin: 20px 0;    
}

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.card {
    margin-bottom: 20px;
    transition: all 0.5s;
}
.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.featurette-divider {
  margin: 5rem 0; 
}  
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
